{% extends 'base.html' %}
{% load static %}
<title>{% block page_title %} Scan Results{% endblock page_title %}</title>


{% block container_content %}
<div class="row" id="traceroute">
    <div style="position:relative; width:100%; height: 0px;padding-bottom: 56.25%;" class="col-md-12">
        <iframe style="position:absolute; left: 0;top: 0;width: 100%;height: 100%" src="{% static 'images/trc.svg' %}" frameborder="0" scrolling="yes" sandbox>
        </iframe>
    </div>
</div>
{% endblock container_content %}