{% extends 'base.html' %}
{% load static %}
{% block link_stuff %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/WanDashboard.css' %}">
    {% endblock link_stuff %}
    <title>{% block page_title %}Wan Dashboard {% endblock page_title %}</title>
</head>
{% block container_content %}
<div class="sidenav">
    <button class="dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown">Reconnaissance
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <div class="dropdown-header" id="header_1">Passive Recon</div>
        <input type="button" class="btn btn-link" value="whois-lookup" name="whois" id="whois-btn">
        <br>
        <form class="form-inline" action="{% url 'traceroute' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-link" id="btn-success" value="Traceroute domain" name="traceroute">
            </form>
            <br>
        <div class="dropdown-header" id="header_2">Active Recon</div>
        <!--<input type="button" class="btn btn-link" value="recursive-dns" name="recdns" id="recdns-btn"> -->
        <br>
        <input type="button" class="btn btn-link" value="SYN Port Scan" name="synscan" id="portscan-btn">
        <br>
        <input type="button" class="btn btn-link" value="Banner Grabber" name="bannergrab" id="bannergrab-btn">
        <br>
        <input type="button" class="btn btn-link" value="Discover Subdomains" name="subdomains" id="subdomains-btn">
        <br>
        <input type="button" class="btn btn-link" value="BruteForce Directories" name="bruteforce" id="bruteforce-btn">
        <br>
    </div>
</div>

<br>
<br>
<br>
<div class="ajax_loader">
    <div class="spinner-grow spinner-pos" role="status">
        <span class="sr-only">Loading..</span>
    </div>
</div>
<div id="whois-results">
    <table class="table table-dark" id="result_whois_table">
        <thead>
        <tr>
            <th scope="col">Domain Name</th>
            <th scope="col">Whois Server</th>
            <th scope="col">Name Servers</th>
            <th scope="col">Contact Ε-Μails</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<br>
<!-- JavaScript for the sidebar  & for hide buttons -->
<script src="{% static 'JavaScript/wan.js'%}"></script>

{% endblock container_content %}