{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>{% block page_title %} Wan Project setup {% endblock page_title %}</title>

{% block container_content %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div style="align-content: center" class="col-md-4">
        <div style="text-align: center" class="alert alert-dark" role="alert">
          <h4 class="alert-heading"><i>Wide Area Project(scan remote domains or IP's)</i></h4>
            <br>
            The domain name or IP address will be used for later testing.
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-4">
    </div>
    <div style="align-content: center" class="col-md-4">
        <form style="align-content: center" method="POST">
            <!-- Cross Site Request Forgery protection by Django -->
            {% csrf_token %}
            {{ form|crispy }}
            <!-- {% crispy form %} -->
            <input type="submit" class="btn btn-primary" value="Continue" id="Submit_button"/>
        </form>
    </div>
</div>


{% endblock container_content %}
