{% extends 'base.html' %}
{% load static %}
{% block link_stuff %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    {% endblock link_stuff %}
    <tittle>{% block page_title %}Dashboard{% endblock page_title %}</tittle>
</head>
{% block container_content %}
<div class="sidenav">
    <button class="dropdown-btn dropdown-toggle">Enumerate Hosts
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <input type="button" class="btn btn-link" value="ARP-ping-scan" name="arp-ping" id="arp-btn">
        <br>
        <input type="button" class="btn btn-link" value="ICMP-ping-scan" name="icmp-ping" id="icmp-btn">
    </div>
    <button class="dropdown-btn dropdown-toggle">Scan for open ports
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <input type="button" class="btn btn-link" value="SYN-Stealth-Scan" name="syn-stealth" id="syn-btn">
    </div>
    <button class="dropdown-btn dropdown-toggle">Fingerprint Services
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <input type="button" class="btn btn-link" value="Banner Grabber" name="banner-grab" id="grab-btn">
    </div>
    <button class="dropdown-btn dropdown-toggle">CVE Search
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <input type="button" class="btn btn-link" value="Find CVE's" name="find-cve" id="cve-btn">
    </div>
    <div id="exploitation-page">
            <!-- url Lan-Attacks -->
<!--        <form action="" method="POST">-->
<!--            {% csrf_token %}-->
<!--            <input type="submit" class="btn btn-primary" value="Exploitation Page" name="goto-exploitation"-->
<!--                   id="exploit-btn">-->
<!--        </form>-->
        <a href="{% url 'Lan-attacks' %}">Exploitation Page</a>
    </div>
</div>
<div class="row" id="user_info">
    <div class="col-md-12">
        <div style="text-align: center" class="alert alert-dark" role="alert">
          <h4 class="alert-heading"><i>Dashboard Page</i></h4>
          <p>
              All scanning & enumeration takes place here.<br>
              After each scan results are presented on a table.<br>
              After scanning is complete you can proceed to exploitation page for<br>
              some local attacks.
          </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="ajax_loader">
    <div class="spinner-border text-light spinner-pos" role="status">
        <span class="sr-only">Loading..</span>
    </div>
</div>

<div id="results_table">
    <table class="table table-dark table-striped" id="lan_table_results">
<!--        <caption style="text-align: center"> subnet scanned : {{ subnet }}</caption>-->
        <thead>
        <tr>
            <th scope="col">IP address</th>
            <th scope="col">MAC address</th>
            <th scope="col">Open ports</th>
            <th scope="col">Services grabbed</th>
            <th scope="col">Possible CVEs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="ips"></td>
            <td id="macs"></td>
            <td id="ports"></td>
            <td id="banners"></td>
            <td id="cves"></td>
        </tr>

        </tbody>
    </table>
</div>

<!-- JavaScript for the sidebar  & for hide buttons -->
<script src="{% static 'JavaScript/lan.js'%}"></script>

{% endblock container_content %}